{% extends "base.html" %}
{% load i18n %}
{% url 'sponsors' as 'url_sponsors' %}

{% block content %}
<h1>{% trans 'Package reviews' %}</h1>

<p>
    {% blocktrans trimmed %}
    You can help to review packages. That is possible even if you are not a
    Debian developer (<i>yet</i>). No reason to be shy, it is ok if you do not
    know everything or you are not entirely sure if your suggestions are
    correct. Any help is appreciated. Interested in diving in? It is easy:
    {% endblocktrans %}
</p>

<h3>{% trans 'Why should I review packages? I can not upload them!' %}</h3>

<p>
    {% blocktrans trimmed %}
    Glad you ask! There are many reasons why you should review packages even if
    you can't actually upload them.
    {% endblocktrans %}
</p>

<ul>
    <li>
        {% blocktrans trimmed %}
        The person you are reviewing will appreciate it. Chances are, you find
        problems in a package the person was not aware of yet. So they can learn
        from you.
        {% endblocktrans %}
    </li>
    <li>
        {% blocktrans trimmed %}
        Eventually the package you are reviewing will be in a very good shape
        and you happen to learn something yourself. Moreover, you will also
        learn about best practices and workflows other people are using. Even if
        the package does not meet Debian's quality standards you can learn how
        <i>not to do</i> things.
        {% endblocktrans %}
    </li>
    <li>
        {% blocktrans trimmed %}
        People who <i>can</i> upload may decide based on your review whether the
        package in question is a suitable candidate or not.
        {% endblocktrans %}
    </li>
</ul>

<h3>{% trans 'How can I review packages?' %}</h3>

<p>
    {% blocktrans trimmed %}
    Pick a source package and start. There is no single correct way to review
    packages, but chances are you may want to have a look on the following
    things:
    {% endblocktrans %}
</p>

<ul>
    <li>
        {% blocktrans trimmed %}
        Verify Lintian outputs: Did Lintian miss something, are fixes
        semantically correct?
        {% endblocktrans %}
    </li>
    <li>
        {% blocktrans trimmed %}
        Does the package satisfy
        <a href="https://www.debian.org/doc/manuals/developers-reference/best-pkging-practices.html">
        Debian's best practices</a> for packages?
        {% endblocktrans %}
    </li>
    <li>
        {% blocktrans trimmed %}
        Does the package correctly declare dependencies as defined in the
        policy?
        {% endblocktrans %}
    </li>
    <li>
        {% blocktrans trimmed %}
        Does the package meet the
        <a href="https://www.debian.org/social_contract">DFSG</a>? If yes, is
        the copyright file up to date and correct?
        {% endblocktrans %}
    </li>
    <li>
        {% blocktrans trimmed %}
        Do the maintainer scripts supplied with the package look robust,
        idempotent and useful?
        {% endblocktrans %}
    </li>
    <li>
        {% blocktrans trimmed %}
        Is there a watch file? If yes, does it work?
        {% endblocktrans %}
    </li>
    <li>
        {% blocktrans trimmed %}
        Can you build the package in a clean build chroot?
        {% endblocktrans %}
    </li>
    <li>
        {% blocktrans trimmed %}
        Was the upstream tarball modified? If yes, is there a good reason to do
        so?
        {% endblocktrans %}
    </li>
</ul>

<p>
    {% blocktrans with name=settings.SITE_NAME trimmed %}
    You might also want to retrieve the maintainer GPG key to verify that all
    subsequent uploads are signed using the same key. While the key should be
    publicly available on servers such as <em>keys.openpgp.org</em> or
    <em>keyserver.ubuntu.com</em>, {{ name }} can also act as a basic keyserver.
    Note that only key retrieval is implemented. Update or search are not
    available.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
    Given a key id, you can retrieve a key using:
    {% endblocktrans %}
</p>

<pre>
{% if request.scheme == 'https' %}
gpg --keyserver hkps://{{ request.get_host }} --recv-keys 0x123456789
{% else %}
gpg --keyserver hkp://{{ request.get_host }} --recv-keys 0x123456789
{% endif %}
</pre>

<h3>{% trans 'Established sponsor guidelines' %}</h3>

<p>
    {% blocktrans with u_sponsors=url_sponsors trimmed %}
    Several Debian Developers published their personal sponsor guidelines. Those
    are rules applying for a particular person or a specific packaging team in
    case you want to have a package sponsored by them. Typically those rules
    extend the Debian policy by custom requirements, or require a particular
    workflow from you. You can have a look at some guidelines from different
    people on our <a href="{{ u_sponsors }}">sponsors site</a>.
    {% endblocktrans %}
</p>
{% endblock %}
